.cardHolder {
  display: grid;
  padding: 2%;
  gap: 3% 2%;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.card {
  border-radius: 5px;
  border: 1px solid var(--terminal-primary);
  transition: 0.3s;
  width: 100%;
  max-height: fit-content;
}

@media only screen and (width < 40em) {
  .card {
    width: 90%;
  }
}

.card:hover .content,
.card:hover .title {
  color: white;
  transition: color 0.3s;
}

.content {
  padding: 2px 15px;
  margin: 10px;
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
  color: rgb(181, 181, 181);
}

div > img {
  width: inherit;
  margin-top: 10px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.home {
  /* background-image: url("../img/linking_lines.png"); */
  background-color: black;
  background-attachment: fixed;
}

.title {
  border-top: 2px solid var(--terminal-primary);
  border-bottom: 2px solid var(--terminal-primary);
  margin-top: 15px;
  font-size: 1.7em;
  color: rgb(218, 218, 218);
  font-weight: 600;
}
