.home {
  background-image: url("../img/linking_lines.png");
  background-attachment: fixed;
  min-height: 100vh; 
}

.cardHolder {
  display: grid;
  padding: calc(1% + 1.9vmin);
  gap: 20px 30px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.card {
  background: #9DEAF5;
  filter: grayscale(20%);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
  transition: 0.3s;
  width: 100%;
  max-height: fit-content;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.content {
  padding: 2px 15px;
  margin: 10px;
  font-size: 20px;
  text-align: left;
}

.title {
  border-top: 2px dashed #4B7075;
  border-bottom: 2px dashed #4B7075; 
  margin-top: 15px;
  font-size: 18px;
}

.header {
  padding-left: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  text-align: left;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.header > p {
  margin: 0;
  font-weight: bold;
  color: white;
}

.header .green-highlight {
  color: lightgreen;
}

.header .blue-highlight {
  color: lightblue;
}

.cursor {
  background-color: white;
  border: 1px solid white;
  margin: 2px;
}

div > img {
  width: inherit;
  margin-top: 10px;
  aspect-ratio: 3/2;
  object-fit: contain;
}