.cardHolder {
  display: grid;
  padding: calc(1% + 1.9vmin);
  gap: 20px 30px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.card {
  /* background: #9DEAF5; */
  border-radius: 5px;
  border: 1px solid lightgreen;
  box-shadow: 0 4px 8px 0 rgba(144, 238, 144, .5);
  transition: 0.3s;
  width: 100%;
  max-height: fit-content;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(144, 238, 144, 0.6);
}

.content {
  padding: 2px 15px;
  margin: 10px;
  font-size: 20px;
  text-align: left;
  color: white;
}

div > img {
  width: inherit;
  margin-top: 10px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.home {
  /* background-image: url("../img/linking_lines.png"); */
  background-color: black;
  background-attachment: fixed;
  min-height: 100vh; 
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.home .header {
  border: 1px solid white;
  padding-left: 1em;
}

.title {
  border-top: 2px solid #90EE90;
  border-bottom: 2px solid #90EE90; 
  margin-top: 15px;
  font-size: 1.5em;
  color: white;
}