.header {
  display: grid;
  grid-template-columns: 10fr auto 1fr;
  border: 1px solid var(--terminal-green);
  padding-left: 1em;
}

.header * {
  /* font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New; */
  font-size: 1.2rem;
}

.header > div {
  color: white;
  font-weight: bold;
  margin: 0;
}

.header button {
  background-color: black;
  color: white;
}

.header .green-highlight {
  color: var(--terminal-green);
}

.header .blue-highlight {
  color: var(--terminal-blue);
}

.header .pink-highlight {
  color: var(--terminal-pink);
}

.cursor {
  animation: cursor-blink 1s step-start infinite;
  margin: 2px;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

.links-right,
.link {
  background: none;
  border-left: 1px solid var(--terminal-green);
  color: white;
  display: grid;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  color: var(--terminal-blue);
}

.projects-nav {
  border-bottom: 1px solid var(--terminal-green);
  border-top: 1px solid var(--terminal-green);
}
