.header {
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.header * {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  font-size: 1.2rem;
}

.header > p {
  color: white;
  font-weight: bold;
  margin: 0;
}

.header .green-highlight {
  color: rgb(27, 235, 27);
}

.header .blue-highlight {
  color: rgb(21, 115, 255);
}

.cursor {
  animation: cursor-blink 1s step-start infinite;
  margin: 2px;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

.links-right,
button {
  background: none;
  border: none;
  border-left: 1px solid rgb(27, 235, 27);
  color: white;
  display: grid;
}

button:hover {
  color: rgb(21, 115, 255);
}

.projects-nav {
  border-bottom: 1px solid rgb(27, 235, 27);
  border-top: 1px solid rgb(27, 235, 27);
}

/* .topnav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
}

.topnav > a {
  background: #83ded1;
  filter: grayscale(20%);
  text-align: center;
  color: white;
  padding: 12px 14px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

}

.projects-nav {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.topnav a:hover {
  background: #94facf;
  color: gray;
  box-shadow: 0 1px 1px #7f7f7f;
} */
