.header {
  display: grid;
  grid-template-columns: auto;
  border: 1px solid var(--terminal-primary);
  padding-left: 1em;

  & * {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    font-size: 1.2rem;
  }

  & > div {
    color: white;
    font-weight: bold;
    margin: 0;
  }

  & .green-highlight {
    color: var(--terminal-primary);
  }

  & .blue-highlight {
    color: var(--terminal-secondary);
  }
}

.cursor {
  animation: cursor-blink 1s step-start infinite;
  margin: 2px;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

.links-right,
.link {
  background: none;
  border-left: 1px solid var(--terminal-primary);
  color: white;
  display: none;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  color: var(--terminal-secondary);
}

.projects-nav {
  border-bottom: 1px solid var(--terminal-primary);
  border-top: 1px solid var(--terminal-primary);
}

.dropdown {
  /* border: 1px solid var(--terminal-primary); */
  align-items: end;
  display: grid;
  position: relative;
}

.dropbtn {
  border-top: 1px solid var(--terminal-primary);
  border-left: 1px solid var(--terminal-primary);
  border-bottom: 1px solid var(--terminal-primary);
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-content {
  display: none;
  min-width: fit-content;
  height: 27.5px;
  position: absolute;

  & button {
    border: 1px solid var(--terminal-primary);
  }
}

button {
  &.green-button {
    color: rgb(23, 199, 23);
  }
  &.pink-button {
    color: rgb(255, 16, 240);
  }

  &.light-blue-button {
    color: rgb(131, 238, 255);
  }
}

.dropdown-content button:hover {
  /* color: var(--terminal-secondary); */
}

.dropdown:hover .dropdown-content {
  display: flex;
  right: 4.16em;
  top: 2.68em;
}

.currentcommand {
  background-color: black;
  border: none;
  color: white;
  padding-left: 10px;
  outline: none;
  width: 55%;

  &.valid {
    color: var(--terminal-primary);
  }

  &.invalid {
    color: red;
  }
}

.command {
  background-color: black;
  border: none;
  color: var(--terminal-primary);
  padding-left: 10px;
  outline: none;
  width: 55%;
}