@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-2.1rem, -2ex);
    // transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    // transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.App {
  font-family: "Lucida Console", "Courier New", monospace;
}

/* ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: black;
} */

/* Need to figure out how to override this or let the var update the scrollbar color*/
::-webkit-scrollbar-thumb {
  /* background: var(--terminal-primary); */
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  /* background: var(--terminal-primary); */
  background: black;
}

/* Allows for the background to be blurred but not the children */
.App::before {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}
