.App {
  font-family: "Lucida Console", "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--terminal-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--terminal-primary);
}

/* Allows for the background to be blurred but not the children */
.App::before {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}