:root {
  --terminal-green: rgb(23, 199, 23);
  --terminal-blue: rgb(21, 115, 255);
  --terminal-pink: rgb(255,16,240);
  --terminal-lblue: rgb(131,238,255);
}

:root .green {
  --terminal-primary: var(--terminal-green);
  --terminal-secondary: var(--terminal-blue);
}

:root .pink {
  --terminal-primary: var(--terminal-pink);
  --terminal-secondary: var(--terminal-blue);
}

:root .lightblue {
  --terminal-primary: var(--terminal-lblue);
  --termina-secondary: var(--terminal-blue);
}

body {
  background: black;
  margin: 0;
  /* font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New; */
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
