.topnav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: start;
}

.topnav > a {
    background: #83DED1;
    text-align: center;
    color: white;
    padding: 12px 14px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.topnav a:hover {
    background: #94FACF;
    color: gray;
    box-shadow: 0 1px 1px #7F7F7F;
}